<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
    <td>包裝名稱</td>
    <td><input type="text" class="form-control" placeholder="Package Name"></td>
    <td></td>
  </tr>
  <tr>
    <td>專案</td>
    <td><input type="text" class="form-control" placeholder="Project"></td>
    <td></td>
  </tr>
  <tr>
    <td>APK類別</td>
    <td><input type="text" class="form-control" placeholder="Class"></td>
    <td></td>
  </tr>
  <tr>
    <td>測試結果</td>
    <td><input type="text" class="form-control" placeholder="Apk Result"></td>
    <td></td>
  </tr>
  <tr>
    <td>複測結果</td>
    <td><input type="text" class="form-control" placeholder="Manual Result"></td>
    <td></td>
  </tr>

  <tr>
    <td colspan="3"><button type="button" class="btn btn-default">Query</button></td>
  </tr>
</table>